.employee-auth{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-toggle-link{
    margin-top: 20px;
    color: var(--mainColor);
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}
.error-p{
    text-align: center;
    color: red;
}
.signup, .Login{
    /* border: 1px solid var(--gb); */
    width: 40%;
    margin: auto;
    padding: 2em;
    box-shadow: 1px 1px 2px 2px var(--gb);

}
h4{
    color: var(--mainColor);
}