<mat-tab-group class="w-100">
    <mat-tab *ngFor="let cat of categories" label="{{ cat.CategoryName }}">
      <div class="menu-container menu">
        <div class="row mt-5">
          <div
            class="col-lg-3 col-md-4"
            *ngFor="let product of products | filterByCategory: cat"
          >
            <div class="card mb-4 text-center">
              <figure>
                <img src="{{ product.ProductImage }}" alt="Product-Image" />
              </figure>
              <section class="details">
                <div class="min-details">
                  <h3 class="prdName">{{ product.ProductName }}</h3>
                  <h3 class="price">{{ product.ProductPrice }} EGP</h3>
                </div>
                <p class="availableQuantity">
                  {{ product.ProductAvailableQuantity }}
                  <span>{{ product.ProductCategory }} Available</span>
                </p>
                <!-- <button class="btn action-btn" (click)="addToCart(product)" [disabled]="!product.canAdd" [ngClass]="{'disabled-btn': !product.canAdd}">Add to Cart</button> -->
                <button class="btn action-btn" (click)="addToCart(product)" >Add to Cart</button>
              </section>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
 

  <!-- <div class="cart-toggle" (click)="isCartVisible = !isCartVisible">
    <span class="cart-icon"></span>
    <span class="cart-count"> {{cartItems.length}} </span>
  </div> -->

  <!-- <div class="cart-wrapper" *ngIf="isCartVisible" [@slideInFromLeft]="isCartVisible ? 'visible' : 'hidden'" [ngClass]="{'show-cart' : isCartVisible}">
    <app-cart (close)="closeCart()"></app-cart>
  </div> -->

  <div class="checkout-container">
    <div class="cart-wrapper" *ngIf="!showPayment && isCartVisible" [@slideInFromLeft]="isCartVisible ? 'visible' : 'hidden'" [ngClass]="{'show-cart': isCartVisible}">
      <app-cart (close)="closeCart()"></app-cart>

    </div>
    <div class="payment-wrapper" *ngIf="showPayment" [@slideInFromLeft]="showPayment ? 'visible' : 'hidden'" [ngClass]="{'show-payment' : showPayment}">
      <app-payment></app-payment>
     
    </div>

    <!-- <div class="checkout-actions">
      <button class="btn btn-action" *ngIf="!showPayment" (click)="continueToPayment()">
        Continue to Payment
      </button>
      <button class="btn btn-action" *ngIf="showPayment" (click)="cancelPayment()">
        Cancel Payment
      </button>
    </div> -->

  </div>