.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}
.modal-title{
    color: var(--mainColor);
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 1.2em;
}
.modal-footer{
    border-top: none;
}
.btn-primary{
    background-color: var(--mainColor) !important;
}

