<div class="sidenav" [ngClass]="Collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()">R</button>
      <div class="logo-text" *ngIf="Collapsed"> Restaurant </div>
      <button class="btn-close" @rotate *ngIf="Collapsed" (click)="closeSidenav()">
        <i class="fa-solid fa-times close-icon"></i>
      </button>
    </div>
    <ul class="sidenav-nav">
      <!-- <div class="w-100" > -->
        <li class="sidenav-nav-item" *ngFor="let data of filteredNavData">
          <a class="sidenav-nav-link" [routerLink]="[data.routerLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onNavItemClick(data)" *ngIf="employeeTypeExists()">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" @fadeInOut *ngIf="Collapsed"> {{data.label}} </span>
          </a>
        </li>
      <!-- </div> -->
     
    </ul>
  </div>