<div class="modal-container">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center w-100">
        <h4 class="modal-title">Update Category</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form
            #updateCategory="ngForm"
            class="d-flex flex-column align-items-center"
            (ngSubmit)="submit(updateCategory.value)"
          >
            <input
              type="text"
              class="form-control mb-2 w-75"
              placeholder="Enter Category Name"
              name="CategoryName"
              ngModel="{{categoryData?.CategoryName}}"
            />
            <input
              type="text"
              class="form-control mb-2 w-75"
              placeholder="Enter Category Image URL"
              name="CategoryImage"
              ngModel="{{categoryData?.CategoryImage}}"
            />
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="submit(updateCategory.value)"
          [disabled]="updateCategory.invalid"
        >
          Update
        </button>
        <button type="button" class="btn btn-dark" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
